<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- body %>

    <!-- The body is getting 'injected' from other files into this simple boilerplate (it's getting put in 
        here using the body tag thing above), navbars are good to have in here also to reduce duped code -->

    <!-- Put the following line of code at the top of your body files so this boilerplate can run correctly.
    For example see test.ejs and use plain ejs brackets to surround it--> 
    <!-- layout('/layouts/boilerplate') -->
</body>

</html>